#contour {
    padding: 10px 0;
}
#contour .contourPageName {
    font-size: 2em !important;
    line-height: 2em !important;
}
#contour .contourField div label {
    display: inline;
}
#contour label.fieldLabel {
    background: none repeat scroll 0 0 transparent !important;
    clear: left;
    display: block;
    float: left;
    font-weight: bold;
    width: 200px;
}
#contour small {
    clear: both;
    display: block;
    float: left;
    padding: 5px 5px 5px 200px;
}
#contour fieldset {
    border: medium none !important;
    margin: 0 0 1.5em;
    padding: 1.4em;
}
#contour legend {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
}
#contour input.text, #contour input.title, #contour textarea, #contour select {
    border: 1px solid #BBBBBB;
    margin: 0.5em 0;
}
#contour input.text:focus, #contour input.title:focus, #contour textarea:focus, #contour select:focus {
    border: 1px solid #666666;
}
#contour input.text, #contour textarea {
    padding: 5px;
    width: 300px !important;
}
#contour textarea {
    height: 100px;
}
#contour input.fileupload {
    height: auto !important;
}
#contour span.checkboxlist, #contour span.radiobuttonlist, #contour span.checkbox {
    display: block;
    float: left;
    padding: 10px;
}
#contour .checkboxlist input, #contour .radiobuttonlist input, #contour .checkbox input {
    border: medium none !important;
    display: inline !important;
    height: auto !important;
    width: auto !important;
}
#contour .hiddenfield {
    display: none;
}
#contour .contourButton {
    margin-right: 10px;
    padding: 2px 10px;
}
#contour .contourErrorMessage {
    border: 2px solid #FBC2C4;
    margin-bottom: 0.5em;
    padding: 0.8em;
}
#contour .contourErrorMessage, #contour .contourError {
    background: none repeat scroll 0 0 #FBE3E4;
    color: #8A1F11;
}
#contour input.contourError, #contour textarea.contourError {
    background: none repeat scroll 0 0 #FBE3E4;
    border-color: #FBC2C4;
}
#contour span.contourError {
    background: none repeat scroll 0 0 transparent !important;
    color: #8A1F11 !important;
}
